* {
    font-family: 'Pushster', cursive;
}

.lista {
    list-style: none;
    display: inline-flex;
    margin-top: 2px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

li {
    padding: 5px;
}

i {
    color: red;
}

#top-header {
    background-color: #1E1F29;
}

.btn-drop {
    border-radius: 40px 0px 0px 40px;
}

.btn-danger1 {
    background-color: red;
    border-radius: 0px 40px 40px 0px;
}

.dropdown-menu {
    border-radius: 50px;
}

.head-cont {
    background-color: black;
    border-bottom: 4px solid red;
}

.icon-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-col i {
    display: flex;
    justify-content: center;
}

.icon-col p {
    font-size: 18px;
}

.nav-item a {
    color: black !important;
}

.nav-item:active a {
    color: red!important;
}

.nav-item:hover a {
    text-decoration: underline;
    text-decoration: bold;
    color: red !important;
    transition: ease-in-out 0.5s;
}

.myrounded-pill {
    border-radius: 50px 50px 0px 0px !important;
}


/* categorie */

.category-card {
    border-top: solid red 8px;
    border-bottom: solid red 8px;
    border-radius: 0px 50px 50px 50px;
    position: relative;
    color: white;
    overflow: hidden;
    transition: all 0.5s;
}

.category-details {
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 2, 19, 0.4), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.category-card:hover .category-details {
    opacity: 1;
}

.category-card img {
    transition: all 2s;
}

.category-card:hover img {
    transform: scale(1.5);
}


/* ultimi annunci */

.card-announcement {
    padding: 30px;
}

.card-announcement .img-box {
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.card-announcement .img-box img {
    transform: scale(0.8);
    transform-origin: 50% 50%;
}

.card-announcement .details-box {
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    color: black;
    padding: 10px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide {
    width: 100%;
}

.formLavora {
    padding: 60px 20px;
    background: linear-gradient(to bottom, rgba(255, 2, 19, 0.8), rgba(0, 0, 0, 0.8));
    border-radius: 50px;
    color: white;
}


/* style pagina annunci */


/* sezione masthead-annunci */

.masthead-annunci {
    height: 50vh;
}

@media screen and (min-width: 768px) {
    .card-announcement .img-box,
    .card-announcement-list .img-box {
        background-color: white;
        border-radius: 20px 0px 0px 20px;
        padding: 80px 0px 0px 0px;
    }
    .card-announcement .img-box img {
        transform: scale(1.1);
        transform-origin: 100% 100%;
    }
    .card-announcement .details-box,
    .card-announcement-list .details-box {
        background-color: white;
        border-radius: 0px 20px 20px 0px;
        color: black;
        padding: 15px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .swiper-slide {
        width: 90%;
    }
}